/* CODESKITCH */
body {
font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Open Sans", sans-serif;
font-weight: 600;
}

a {
color: #444;
}

a:hover {
color: #444;
text-decoration: underline;
}

.container {
max-width: 1366px;
}

.f-8em {
font-size: .8em;
}
.center { float: none; margin-left: auto; margin-right: auto; }
.text-white
{
color: #FFF;
}
.text-red
{
color: #F00;
}
.gray {
background-color: #424242;
}

.white-gray {
background-image: -ms-linear-gradient(left, #FFFFFF 0%, #FFFFFF 45%, #939393 45%, #939393 100%);
background-image: -moz-linear-gradient(left, #FFFFFF 0%, #FFFFFF 45%, #939393 45%, #939393 100%);
background-image: -o-linear-gradient(left, #FFFFFF 0%, #FFFFFF 45%, #939393 45%, #939393 100%);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(.45, #FFFFFF), color-stop(0.45, #939393), color-stop(1, #939393));
background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #FFFFFF 45%, #939393 45%, #939393 100%);
background-image: linear-gradient(to right, #FFFFFF 0%, #FFFFFF 45%, #939393 45%, #939393 100%);
}
.red-gray {
background-image: -ms-linear-gradient(left, #FF0000 0%, #FF0000 45%, #939393 45%, #939393 100%);
background-image: -moz-linear-gradient(left, #FF0000 0%, #FF0000 45%, #939393 45%, #939393 100%);
background-image: -o-linear-gradient(left, #FF0000 0%, #FF0000 45%, #939393 45%, #939393 100%);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FF0000), color-stop(.45, #FF0000), color-stop(0.45, #939393), color-stop(1, #939393));
background-image: -webkit-linear-gradient(left, #FF0000 0%, #FF0000 45%, #939393 45%, #939393 100%);
background-image: linear-gradient(to right, #FF0000 0%, #FF0000 45%, #939393 45%, #939393 100%);
}

.cream {
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F2F1F1 100%);
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F2F1F1 100%);
background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2F1F1 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F2F1F1));
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F2F1F1 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F1F1 100%);
}

.cream-rep {
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FFFFFF 8%, #F2F1F1 27%, #FFFFFF 39%, #FFFFFF 55.00000000000001%, #F2F1F1 100%);
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 8%, #F2F1F1 27%, #FFFFFF 39%, #FFFFFF 55.00000000000001%, #F2F1F1 100%);
background-image: -o-linear-gradient(top, #FFFFFF 0%, #FFFFFF 8%, #F2F1F1 27%, #FFFFFF 39%, #FFFFFF 55.00000000000001%, #F2F1F1 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(.08, #FFFFFF), color-stop(.27, #F2F1F1), color-stop(0.39, #FFFFFF), color-stop(0.55, #FFFFFF), color-stop(1, #F2F1F1));
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FFFFFF 8%, #F2F1F1 27%, #FFFFFF 39%, #FFFFFF 55.00000000000001%, #F2F1F1 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 8%, #F2F1F1 27%, #FFFFFF 39%, #FFFFFF 55.00000000000001%, #F2F1F1 100%);
z-index: -1;
}

.red-gradient {
background-image: -ms-linear-gradient(top, #FE0000 0%, #DA0000 100%);
background-image: -moz-linear-gradient(top, #FE0000 0%, #DA0000 100%);
background-image: -o-linear-gradient(top, #FE0000 0%, #DA0000 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FE0000), color-stop(1, #DA0000));
background-image: -webkit-linear-gradient(top, #FE0000 0%, #DA0000 100%);
background-image: linear-gradient(to bottom, #FE0000 0%, #DA0000 100%);
}
.red-gradient-ltbr
{
background-image: -ms-linear-gradient(top left, #E30101 0%, #FF0000 100%);
background-image: -moz-linear-gradient(top left, #E30101 0%, #FF0000 100%);
background-image: -o-linear-gradient(top left, #E30101 0%, #FF0000 100%);
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #E30101), color-stop(1, #FF0000));
background-image: -webkit-linear-gradient(top left, #E30101 0%, #FF0000 100%);
background-image: linear-gradient(to bottom right, #E30101 0%, #FF0000 100%);
}
.padded-options {
padding: 100px 50px 20px 50px;
}

.round10 {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.round20 {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}

.round25 {
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}

.round30 {
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;
}

.cdkt-img-responsive {
height: auto;
max-width: 100%;
}

.navbar {
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F2F1F1 97%, #FF0000 98.75%, #960001 100%);
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F2F1F1 97%, #FF0000 98.75%, #960001 100%);
background-image: -o-linear-gradient(top, #FFFFFF 0%, #F2F1F1 97%, #FF0000 98.75%, #960001 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(.97, #F2F1F1), color-stop(0.9875, #FF0000), color-stop(1, #960001));
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F2F1F1 97%, #FF0000 98.75%, #960001 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #F2F1F1 97%, #FF0000 98.75%, #960001 100%);
border: none;
margin-bottom: 0;
height: 110px;
}

.navbar .container {
padding-left: 150px;
padding-right: 90px;
}

.cdkt-body {
}

.cdkt-body .container #myCarousel {
border-bottom: solid 4px #fff;
}

.navbar li a {
}

.navbar .nav-icon {
display: block;
margin: auto;
}

.hr-red {
background-image: -ms-linear-gradient(top, #FF0000 0%, #970F0F 50%, #970F0F 100%);
background-image: -moz-linear-gradient(top, #FF0000 0%, #970F0F 50%, #970F0F 100%);
background-image: -o-linear-gradient(top, #FF0000 0%, #970F0F 50%, #970F0F 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FF0000), color-stop(0.5, #970F0F), color-stop(1, #970F0F));
background-image: -webkit-linear-gradient(top, #FF0000 0%, #970F0F 50%, #970F0F 100%);
background-image: linear-gradient(to bottom, #FF0000 0%, #970F0F 50%, #970F0F 100%);
height: 5px;
}

.navbar-toggle {
background-color: transparent;
border: 1px solid #CECBCB;
}

.icon-bar {
background-color: #757575;
}

/* Revolution */
.fullwidthbanner-container {
width: 100% !important;
position: relative;
padding: 0;
max-height: 450px !important;
overflow: hidden;
}

.fullwidthbanner-container .fullwidthabnner {
width: 100% !important;
max-height: 450px !important;
position: relative;
}

.sl-h1 {
    font-weight: 700;
    font-size: 50px;
    color: #434343
}
.sl-h2 {
    font-size: 28px;
    font-weight: 400;
    color:#434343 
}
.sl-h3 {

}
.sl-h4 {

}
.sl-h5 {

}
/* end */

.cdkt-msg {
background-color: #404040;
height: 280px;
}
.cdkt-msg-red
{
background-color: #F00;
height: 200px;
}
.cdkt-msg .container {
padding-left: 90px;
padding-right: 150px;
}

.cdkt-msg p {
color: #f1f1f1;
padding-top: 120px;
text-indent: initial;
}
.cdkt-msg-red p.lead {
font-size: 18px;
padding-top: 70px;

}
.cdkt-build {
height: 100px;
text-align: center;
padding: 30px;
}

.cdkt-build h1 {
text-transform: uppercase;
color: #fff;
margin-top: 0;
font-weight: 700;
}

.cdkt-3-steps {
line-height: 300px;
position: relative;
}

.cdkt-3-steps .row div img {
max-width: 85%;
}

.cdkt-steps {
border-bottom: solid 8px #979797;
position: relative;
}

.cdkt-steps .container {
position: relative;
height: 70px;
width: 100%;
background-image: -ms-linear-gradient(top, #494949 0%, #505050 50%, #373737 100%);
background-image: -moz-linear-gradient(top, #494949 0%, #505050 50%, #373737 100%);
background-image: -o-linear-gradient(top, #494949 0%, #505050 50%, #373737 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #494949), color-stop(0.5, #505050), color-stop(1, #373737));
background-image: -webkit-linear-gradient(top, #494949 0%, #505050 50%, #373737 100%);
background-image: linear-gradient(to bottom, #494949 0%, #505050 50%, #373737 100%);
}

.cdkt-steps h2 {
text-align: left;
color: #fff;
padding-left: 30px;
margin-top: 15px;
text-transform: uppercase;
font-weight: 700;
}

.cdkt-steps img {
margin-top: -8px;
}

.cdkt-steps span {
font-size: 40px;
}

.top-triang {
width: 0;
height: 0;
border-top: 20px solid #f2f1f1;
border-left: 1300px solid transparent;
position: absolute;
top: 0;
right: 0;
z-index: 100;
}

.cdkt-steps .hr-white {
background-color: #fff;
position: absolute;
width: 100%;
margin: 0;
bottom: 0;
}

.options-label {
width: 50%;
height: 55px;
background-color: #F00;
padding: 10px 50px 10px 80px;
display: block;
margin-left: -50px;
}

.options-label h3 {
color: #fff;
margin: 0;
padding: 0;
line-height: 35px;
font-size: 20px;
}

.cdkt-btn-red {
background-image: -ms-linear-gradient(top, #C20404 0%, #CD1B1B 50%, #A70302 100%);
background-image: -moz-linear-gradient(top, #C20404 0%, #CD1B1B 50%, #A70302 100%);
background-image: -o-linear-gradient(top, #C20404 0%, #CD1B1B 50%, #A70302 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #C20404), color-stop(0.5, #CD1B1B), color-stop(1, #A70302));
background-image: -webkit-linear-gradient(top, #C20404 0%, #CD1B1B 50%, #A70302 100%);
background-image: linear-gradient(to bottom, #C20404 0%, #CD1B1B 50%, #A70302 100%);
display: block;
text-transform: uppercase;
font-weight: 600;
color: #fff;
font-size: 18px;
width: 245px;
padding: 5px 0px 5px 0px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
margin: auto;
}

.cdkt-tmpl-lbl-holder {
margin: auto;
position: relative;
width: 60%;
height: 45px;
z-index: 1;
}

.cdkt-tmpl-lbl {
margin: auto;
width: 50%;
min-width: 375px;
background-color: #4b4b4b;
color: #fff;
font-size: 18px;
font-weight: 600;
}

.cdkt-tmpl-lbl-holder hr {
background-color: #9f9f9f;
height: 3px;
width: 100%;
margin: 0;
position: absolute;
top: 45%;
z-index: -1;
}

.cdkt-tmpl {
position: relative;
margin-bottom: 105px;
}

.cdkt-tmpl .container {
margin: auto;
padding: 80px 20px 20px;
}

.cdkt-tmpl .container div {
padding-right: 5px;
padding-left: 5px;
}

.cdkt-tmpl img {
/*width: 100%;*/
margin-bottom: 10px;
border: solid 3px #a6a6a6;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.cdkt-tmpl .sq-bg-gray {
position: absolute;
height: 170px;
width: 100%;
bottom: 100px;
z-index: -1;
background-color: #cfcfcf;
}

#cdkt-hosting {
padding-top: 100px;
}

#cdkt-hosting h3 {
width: 90%;
line-height: 60px;
vertical-align: middle;
background-color: #4b4b4b;
color: #fff;
}

.host-def-holder {
font-weight: 600;
}

.host-def-amount {
font-size: 2em;
color: red;
font-weight: 700;
}

.col-head-rnd {
background-color: #939393;
color: #fff;
font-weight: 600;
text-align: center;
font-size: 0.9em;
padding: 5px;
border: solid 2px #fff;
}

#cdkt-hosting-tbl th {
width: 25%;
font-weight: 700;
font-size: 1em;
}

#cdkt-hosting-tbl td {
width: 25%;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 5px;
margin-bottom: 5px;
font-weight: 600;
font-size: 1.1em;
}

#cdkt-hosting-tbl tbody tr {
border-top: solid 5px #fff;
background-color: #e4e4e4;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.cdkt-info {
}

.cdkt-pkgs {
text-align: left;
font-size: 1.5em;
font-weight: 700;
padding-left: 50px;
padding-top: 10px;
}

.cdkt-pkgs li {
padding: 8px;
}

.cdkt-pkgs li img {
margin-right: 8px;
}

.cdkt-pkgs li span {
display: block;
padding-left: 50px;
font-size: .7em;
font-weight: 400;
}

.domain-subs {
font-size: 1.1em;
font-weight: 700;
padding: 10px;
color: rgb(255, 255, 255);
width: 80%;
margin: auto;
margin-bottom: 5px;
}

.domain-subs span {
display: block;
font-size: .6em;
font-weight: 400;
}

#contact-us img {
height: 100%;
width: 100%;
}

#contact-us .col-sm-6 {
overflow: hidden;
padding: 0;
height: 425px;
}
#contact-us .col-sm-6.girl-pc
{
background: url(../img/Girl-Pc-Image.png) no-repeat 0px -50px;
}
#contact-us form {
padding-left: 50px;
padding-right: 50px;
}

#contact-us form h3 {
font-weight: 700;
color: #fff;
margin-bottom: 20px;
}

#contact-us .form-control {
background-color: #F1F1F1;
margin-bottom: 10px;
font-size: 1.2em;
}

#contact-us textarea.form-control, #contact-us select.form-control {
height: auto;
}

#contact-us .btn-submit {
color: #fff;
font-size: 1.2em;
text-transform: uppercase;
font-weight: 700;
}

#footer {
background-color: #000;
}

#footer nav-brand {
margin-left: 100px;
}

#footer ul {
margin-top: 10px;
}

#footer ul li a {
color: #f1f1f1;
}

#footer ul li a:hover {
background-color: #000;
text-decoration: underline;
}

.popup-show {
display: block !important;
}

.popup-show .lightbox-content {
width: auto !important;
height: auto !important;
}
/**
Lightbox
**/
.lightboxOverlay
{
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
overflow: auto;
}
.lb-outerContainer
{
max-height: 600px !important;
overflow: auto;
overflow-x: hidden;
}
/**
About Us
**/
.red-bg
{
background-color: #F00
}
.cdkt-about
{
height: 400px;    
}
.cdkt-about .container
{
padding-top: 100px;
padding-left: 200px;
height: 100%;
background: url('../img/gadgets.jpg') no-repeat;
background-position-x: right;
background-position-y: -20px;
background-size: auto 500px;
}
.cdkt-about .container p
{
display: block;
font-size: 25px;
width: 70%;
}
#text-contact
{
color: #FFF;
padding-top: 155px;
padding-left: 170px;
display: block;
line-height: 1.4;
}
/*cdkt-content*/
.cdkt-content
{
height: 500px;
}
.cdkt-content.c-contact
{
background: url('../img/contact-cube.jpg') no-repeat;
background-position-x: 100px;
background-position-y: 10px;
background-size: auto 450px;
}
.cdkt-content.c-packages
{
background: url('../img/clut-icons.jpg') no-repeat;
background-position-x: right;
background-position-y: bottom;
background-size: auto 350px;
}
.cdkt-content.c-packages .container
{
padding-top: 80px;
}
.cdkt-content .container
{
height: 100%;
position: relative
}
.cdkt-content.c-contact .container div
{
position: absolute;
top: 30%;
right: 10%
}
.cdkt-content .container div h1
{
font-weight: 700;
font-size: 50px;
margin-bottom: 5px;
}
.cdkt-content .container div h2
{
font-weight: 700;
font-size: 28px;
margin-top: -15px;
}
.cdkt-content.c-packages .container .box-price {
padding-left: 35px;
padding-right: 10px;
padding-top: 30px;
display: block;
padding-bottom: 20px;
}
.s-only {
margin-bottom: 0;
}
.s-price {
font-size: 75px !important;
margin-top: -10px;
margin-bottom: -2px !important;
}
.s-det {
margin-top: 0;
margin-bottom: 0;
}
.cdkt-content.c-packages .ul-includes
{
margin-top: 30px;
}
.cdkt-content.c-packages .ul-includes li
{
padding-top: 10px;
padding-bottom: 10px;
font-weight: 600;
}
@media (max-width: 1620px) {
.container {
max-width: 1170px;
}
}
@media (max-width: 1366px) and (min-width: 769px) {
.cdkt-msg .container {
padding-left: 10px;
padding-right: 10px;
}

.padded-options {
padding: 100px 0px 20px 0px;
}

#cdkt-hosting-tbl th {
font-weight: 600;
font-size: .8em;
}

#cdkt-hosting-tbl td {
font-size: .8em;
}
}
@media (max-width: 1366px)
{
.cdkt-about .container
{
padding-left: 10px;
}
.lead
{
font-size: 18px;
}
}
@media (max-width: 1024px) {
.navbar .container {
padding-left: 0;
padding-right: 0;
}
.cdkt-about .container p
{
font-size: 21px;
}
#text-contact
{
padding-left: 10px;
font-size: 24px
}
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
#contact-us .container {
padding-bottom: 10px;
}
.cdkt-about .container {
background-position-x: 120%;
}
.navbar .navbar-brand {
padding: 0 15px;
}

.navbar {
height: auto;
}

h1, .h1 {
font-size: 28px;
}

.cdkt-msg .container {
padding-left: 10px;
padding-right: 10px;
}

.cdkt-3-steps {
line-height: 200px;
}

.options-label {
width: 100%;
}

.cdkt-tmpl img {
margin: auto;
margin-bottom: 10px;
}

#cdkt-hosting-tbl {
width: 100%;
}

#cdkt-hosting h3 {
width: 100%;
}

#contact-us {
background: #939393;
}

#contact-us .col-sm-6 {
padding-left: 0;
padding-right: 0;
}

#contact-us .col-sm-6 img {
width: 100%;
}

.cdkt-tmpl-lbl-holder {
width: 100%;
}

.cdkt-tmpl-lbl {
width: 80%;
}

.container > .navbar-header, .container > .navbar-collapse {
margin-right: 0;
margin-left: 0;
}

.navbar .nav-icon {
display: inline;
width: 30px;
}

.nav > li {
border: solid 1px #fff;
}
#contact-us .col-sm-6
{
height: auto;
}
#text-contact
{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
#text-contact br
{
display: none;
}
}

@media (max-width: 640px) {
.cdkt-steps h2 {
font-size: 20px;
}
.cdkt-about .container {
background-position-x: 130%;
}
.cdkt-about .container p{
font-size: 18px
}
}

@media (max-width: 420px) {
.container {
overflow: hidden;
}
.cdkt-msg p {
padding-top: 10px;
}
.cdkt-steps .container, .cdkt-msg {
height:auto
}

.cdkt-steps h2 {
padding-left: 0;
font-size: 18px;
}

.cdkt-steps h2 label {
display: none;
}
.cdkt-build {
height: auto;
padding: 10px 0 10px 0px;
}
.cdkt-build h1 {
font-size: 24px;
}
.options-label {
padding-left: 50px;
width: 150%;
}

.options-label h3 {
font-size: 16px;
}

.padded-options {
padding: 10px 0px 20px 0px;
}

.cdkt-tmpl-lbl {
width: 100%;
}

#cdkt-hosting-tbl td {
font-size: .8em;
}

#cdkt-hosting-tbl th {
font-size: .7em;
}

.cdkt-pkgs {
font-size: 1.1em;
padding-left: 0;
padding-top: 0;
}

.cdkt-pkgs li {
padding: 0;
}

.cdkt-pkgs li img {
margin-right: 8px;
width: 20px;
}
#cdkt-hosting h3 {
font-size: 1em;
}
#contact-us form {
padding-left: 5px;
padding-right: 5px;
}
.cdkt-about
{
height: auto;
}
.cdkt-about .container
{
background-size: auto 250px;
padding-top: 150px;    
}
.cdkt-about .container p
{
width: 100%;
}
}
