body{
font-family: "Open Sans", sans-serif;
background-color: #F5F5F5;
}
#main{
width:955px; height:509px; margin:auto; background: url(http://codeskitch.com/theme/img/hostcover.jpg) no-repeat;display: 

block;padding-top: 130px;
}
#inner{
width: 300px;
height: 300px;
margin: auto;
background-color: #FFFFFF;
border-radius: 10px;
border: solid 1px #E0E0E0;
}
#logo{
margin: auto;
display: block;
margin-top: 10px;
}
hr{
border: solid 1px #ECECEC;
}
h3{
font-weight: 400;
display: block;
text-align: center;
margin-bottom: 5px;
}
#text{
display: block;
padding: 10px;
font-size: 15px;
}
#theme{
font-size: 12px;
margin-top: 15px;
display: block;
}